body {
    font-family: 'Open Sans', sans-serif;
}

main {
    margin: 2% 10%;
}

/* nav bar section */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-title {
    font-weight: 900;
    font-size: 45px;
}

.nav-list {
    display: flex;
    color: #777777;
    font-weight: 600;
    font-size: 25px;
}

.nav-list>li {
    list-style: none;
    margin-left: 3vw;
}

.nav-button {
    font-weight: 600;
    font-size: 25px;
    border: 1px solid #289BDE;
    border-radius: 5px;
    padding: 25px 25px;
    color: #289BDE;
    float: right;
}

/* banner section */
.banner-section {
    background: url(../img/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #777777;
    border-radius: 5px;

}

.banner-text {
    text-align: center;
    padding: 200px 350px;
}

.banner-title {
    color: white;
    font-weight: bolder;
    font-size: 70px;
}

.banner-discription {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 25px;
}

.banner-button {
    font-weight: 600;
    font-size: 25px;
    color: #FFFFFF;
    background: #289BDE;
    border: 1px solid #289BDE;
    border-radius: 5px;
    padding: 15px 25px;
    margin-top: 3%;
}

/* course section  */

.course-section-text {
    text-align: center;
}

.course-section-title {
    font-weight: 800;
    font-size: 60px;
}

.course-section-discription {
    font-weight: 400;
    font-size: 20px;
}

.course-detial {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.courses {
    justify-content: space-between;
}

.courses-image {
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.courses-about {
    margin-top: 30px;
    border: 2px solid #E8E8E8;
    border-radius: 5px;
    display: flex;
    margin-right: 100px;
}

.courses-about-text {
    padding-left: 15px;
}

.courses-about-title {
    font-weight: 600;
    font-size: 35px;
}

.courses-about-discription {
    font-weight: 400;
    font-size: 20px;
    color: #777777;
}

/* readmore section */
.readmore {
    display: flex;
    align-items: center;
    background: #F4FAFD;
    border-radius: 5px;
    margin-top: 8%;

}

.readmore-text {
    margin-left: 8%;
    padding-right: 10%;
}

.readmore-title {
    font-weight: 900;
    font-size: 55px;
    color: #1D1D1D;
}

.readmore-discription {
    font-weight: 400;
    font-size: 20px;
    color: #777777;
}

/* register section */

.register {
    background-color: #289BDE;
    margin-top: 8%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3% 5%;
}

.register-title {
    color: #FFFFFF;
    font-weight: 900;
    font-size: 45px;
}

.register-discription {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 15px;
}

.join-button {
    border-radius: 5px;
    border: solid #289BDE;
    padding: 10px 15px;
    color: #289BDE;
    font-size: 15px;
    font-weight: 600;
}

/* footer section */
footer {
    background-color: black;
    margin: 0%;
}

footer>div {
    margin: 0 auto;
}

.footer-text {
    text-align: center;
    margin-top: 60px;
    padding: 100px;
}

.footer-title {
    font-size: 50px;
    font-weight: 900;
    color: #FFFFFF;
}

.footer-discription {
    font-size: 15px;
    font-weight: 400;
    color: #FFFFFF;
}

.footer-image {}

.footer-image-section {}